<div class="wrapper">

  <h2>Your Order details:</h2>
  <div class="theOrder" >
    <table class="orderTable">
      <tr *ngFor="let product of this.cartService.cartProducts">
        <td>{{ product.productName }}, size {{ product.size}}, {{ product.amount}} pcs, {{ product.amount * product.price | currency }}</td>
      </tr>
    </table>
  </div>

  

  <div class="shippingAddress">
    <table>
      <h3>Shipping Address:</h3>
      <tr>
        <td>Name: {{this.cartService.shippingAddress.name}}</td>
      </tr>
      <tr>
        <td>Country: {{this.cartService.shippingAddress.country}}</td>
      </tr>
      <tr>
        <td>State: {{this.cartService.shippingAddress.state}}</td>
      </tr>
      <tr>
        <td>County: {{this.cartService.shippingAddress.county}}</td>
      </tr>
      <tr>
        <td>City: {{this.cartService.shippingAddress.city}}</td>
      </tr>
      <tr>
        <td>ZIP code: {{this.cartService.shippingAddress.ZIP}}</td>
      </tr>
      <tr>
        <td>POBox: {{this.cartService.shippingAddress.POBOX}}</td>
      </tr>
      <tr>
        <td>Address 1: {{this.cartService.shippingAddress.address1}}</td>
      </tr>
      <tr>
        <td>Address 2: {{this.cartService.shippingAddress.address2}}</td>
      </tr>
      <tr>
        <td> Extra info: {{this.cartService.shippingAddress.extra}}</td>
      </tr>
    </table>
  </div>

  

  <div class="billingAddress" *ngIf="this.cartService.billingAddressIsDifferentFromShippingAddress">
      <table>
          <h3>Billing Address:</h3>
          <tr>
            <td>Name: {{this.cartService.billingAddress.name}}</td>
          </tr>
          <tr>
            <td>Country: {{this.cartService.billingAddress.country}}</td>
          </tr>
          <tr>
            <td>State: {{this.cartService.billingAddress.state}}</td>
          </tr>
          <tr>
            <td>County: {{this.cartService.billingAddress.county}}</td>
          </tr>
          <tr>
            <td>City: {{this.cartService.billingAddress.city}}</td>
          </tr>
          <tr>
            <td>ZIP code: {{this.cartService.billingAddress.ZIP}}</td>
          </tr>
          <tr>
            <td>POBox: {{this.cartService.billingAddress.POBOX}}</td>
          </tr>
          <tr>
            <td>Address 1: {{this.cartService.billingAddress.address1}}</td>
          </tr>
          <tr>
            <td>Address 2: {{this.cartService.billingAddress.address2}}</td>
          </tr>
        </table>
  </div>

  

  <div class="extraInfo">
  </div>


  <div class="summary">
      <table>
        <h3>Totals:</h3>
        <tr>
          <td>Total net price of items (no shipping): {{ this.cartService.getTotalPrice() | currency }} </td>
        </tr>
        <tr>
          <td>Chosen shipping method: {{ this.cartService.selectedShippingOption.name }} </td>
        </tr>
        <tr>
          <td>Total gross price of items (with shipping):
            {{ this.cartService.getTotalPrice() + this.cartService.selectedShippingOption.cost | currency }} </td>
        </tr>
      </table>
    </div>

  <button class="proceedToPay" (click)="proceedToPay()">Proceed to pay</button>

</div>