
.navibar{
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
  margin-top:0;
  margin-bottom:1vh;
  width:100vw;
  height:12vh;
  background-color: bisque;
  border:1px solid grey;

}