<div class="productDetailWrapper">


  <div class="productCard">

      <div class="fav">
          <img (click)="wish()" [src]="product.isWished === false ? './../../../assets/icons/add-to-favorites-icon.png' : './../../../assets/icons/remove-from-favorites-icon.png'">
      </div>

    <div class="mainImage"><img class="mainImage" src="{{ product.img }}"></div>
    <div class="productDetails">
      <table>
        <tr>
          <td>{{ product.productName }}</td>
        </tr>
        <tr>
          <td>{{ product.carat }} carat {{ product.cut }} cut {{ product.stone }} stone {{ product.material }} ring.
          </td>
        </tr>
        <tr>
          <td>{{ product.price | currency }}</td>
        </tr>
      </table>
    </div>
    <div class="productDescription">{{ product.description }}</div>
    <br>
    <form #addToCartForm="ngForm" (ngSubmit)="addToCart(addToCartForm.value)">
      <label for="selectSize">Select size:</label>
      <select id="selectSize" ngModel name="size" required>
        <option *ngFor="let size of product.sizes" value="{{size}}" required>{{size}}</option>
      </select>
      <input type="submit" value="Add to cart" class="addToCart" [disabled]="!addToCartForm.valid">
    </form>
  </div>


</div>