<div class="productDetailWrapper">


  <div class="productCard">
    <div class="mainImage"><img class="mainImage" src="{{ product.img }}"></div>
    <div class="productDetails">
      <table>
      <tr><td>{{ product.productName }}</td></tr>
      <tr><td>{{ product.carat }} carat {{ product.cut }} cut {{ product.stone }} stone {{ product.material }} ring.</td></tr>
      <tr><td>{{ product.price | currency }}</td></tr>
      </table>
    </div>
    <div class="productDescription">{{ product.description }}</div>
    <button (click)="addToCart()">Add to cart</button>
  </div>


</div>