.wrapper{
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding:10px;
    margin:0;
    min-height:80vh;
    background-color:white;
}

.wishedCard{
    display:flex;
    justify-content: space-between;
    align-items:center;
    width:300px;
    border:1px solid grey;
    border-radius:5px;
    padding:5px;
    margin-bottom:5px;
}
img.wi{
    width:100px;
}