<div class="login_logout">
<form class="registerLoginForm">

  <input *ngIf="!this.auth.loggedIn" class="registerLoginInput" [(ngModel)]="userObject.email" type="email" name="email" required autofocus placeholder="email" />
  <input *ngIf="!this.auth.loggedIn" class="registerLoginInput" [(ngModel)]="userObject.password" type="password" name="password" required placeholder="password" />
  <input class="registerLoginButton" type="submit" name="submit" value={{this.auth.buttonText}} (click)="registerORloginORlogout()" />

</form>
</div>
