.login_logout{
  width: 11vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerLoginForm{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
  margin-right:1vw;
}

.registerLoginInput{
  width:100%;
  outline:none;
  margin-bottom:5px;
}



.registerLoginButton{
  font-size: 1.25vw;
  text-decoration:none;
  color:#785919;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  outline: none;
  width:100%;
  margin-bottom:5px;
}

.registerLoginButton:active{
  background-color: #e4e7ed;
}