.footer{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:2vh;
  margin-bottom:1vh;
  width:100vw;
  height:6vh;
  background-color:white;
  border:1px solid #dad3d3;
  border-radius:5px;
  color: grey;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45); 

}