.filterButtons{
  margin-top:10px;
  width:100%;
}

button{
    font-size: 1.25vw;
    text-decoration:none;
    color:#785919;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    width:100%;
    margin-bottom:5px;
}

button:active{
  background-color: #e4e7ed;
}