.wrapper{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    margin:0;
    padding:10px;
    min-height:80vh;
    background-color:white;
    border:1px solid blue;
}

.navi{
    display:block;
    margin:0 auto;
    border:1px solid pink;
}




.main{
    display:flex;
    width:80%;
    justify-content:space-around;
    padding:10px;
    border:1px solid yellow;
}

    .addProductWrapper{
        width:60%;
        padding:10px;
        border:1px solid rgb(77, 4, 16);
    }

    .editProductWrapper{
        display:flex;
        justify-content: space-between;
        width:100%;
        padding:10px;
        border:1px solid rgb(77, 4, 16);
    }

        .productListing{
            width:60%;
            display:flex;
            flex-wrap:wrap;
            justify-content:space-around;
            padding:10px;
            border:1px solid green;
        }

            .productCard{
                width:150px;
                height:200px;
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                border:1px solid grey;
                border-radius: 5px;
            }

                .thumb{
                    width:90%;
                }
            

        .editProductForm{
            width:40%;
            padding:10px;
            border:1px solid green;
        }





select {
    display:block;
}

input {
    display:block;
}