<div class="wrapper">
  
  <div class="navi">
    <table>
      <tr>
        <td><button (click)="addProductCLK()">Add Product...</button></td>
        <td><button (click)="editProductCLK()">Edit Product...</button></td>
        <td><button (click)="manageOrdersCLK()">Manage Orders...</button></td>
        <td><button (click)="manageUsersCLK()">Manage Users...</button></td>
      </tr>
    </table>
  </div>

  <div class="main">
    <!-- you must specify type="button" for the switch buttons, or else, they will be treated as submit buttons... -->
    <div class="addProductWrapper" *ngIf="addProductBtnClicked">
      <form
        #productForm="ngForm"
        (ngSubmit)="productFormSubmit(productForm.value)"
      >
        <fieldset>
          <legend>Main info:</legend>
          <p>Product name:</p>
          <input
            type="text"
            ngModel
            name="productName"
            placeholder="product name"
            required
            autofocus
          />
          <p>Collection:</p>
          <button type="button" (click)="collectionSwitch()">
            existing/new
          </button>
          <input
            *ngIf="collectionSwitched"
            type="text"
            ngModel
            name="collection"
            #collectionText
          />
          <select
            *ngIf="!collectionSwitched"
            ngModel
            name="collection"
            #collectionSelect
          >
            <option
              *ngFor="let collection of collections"
              value="{{ collection }}"
              >{{ collection }}</option
            >
          </select>
          <p>Price:</p>
          <input
            type="number"
            ngModel
            name="price"
            placeholder="price"
            required
          />
          <p>Stone:</p>
          <button type="button" (click)="stoneSwitch()">existing/new</button>
          <input
            *ngIf="stoneSwitched"
            type="text"
            ngModel
            name="stone"
            #stoneText
          />
          <select *ngIf="!stoneSwitched" ngModel name="stone" #stoneSelect>
            <option *ngFor="let stone of stones" value="{{ stone }}">{{
              stone
            }}</option> </select
          ><br />
          <p>Carat:</p>
          <input
            type="number"
            ngModel
            name="carat"
            required
            placeholder="carat"
          />
          <p>Cut:</p>
          <button type="button" (click)="cutSwitch()">existing/new</button>
          <input *ngIf="cutSwitched" type="text" ngModel name="cut" #cutText />
          <select *ngIf="!cutSwitched" ngModel name="cut" #cutSelect>
            <option *ngFor="let cut of cuts" value="{{ cut }}">{{
              cut
            }}</option>
          </select>
          <p>Material:</p>
          <button type="button" (click)="materialSwitch()">existing/new</button>
          <input
            *ngIf="materialSwitched"
            type="text"
            ngModel
            name="material"
            #materialText
          />
          <select
            *ngIf="!materialSwitched"
            ngModel
            name="material"
            #materialSelect
          >
            <option *ngFor="let material of materials" value="{{ material }}">{{
              material
            }}</option>
          </select>
        </fieldset>
        <br />

        <fieldset>
          <legend>Additional info:</legend>
          <p>Sale:</p>
          <input type="number" ngModel name="sale" placeholder="sale %" />
          <p>Sizes:</p>
          <select ngModel name="sizes" multiple="true">
            <option *ngFor="let size of sizes" value="{{size}}">{{
              size
            }}</option>
          </select>

          <p>Description:</p>
          <textarea
            ngModel
            name="description"
            rows="8"
            cols="50"
            style="resize:none;"
          ></textarea>
        </fieldset>
        <br />
        <input type="submit" value="Add Product" [disabled]="!productForm.valid">
      </form>

      <div class="addSingeImage">
        <h3>Add main image</h3>
        <p>Choose for which collection: </p>

        <div *ngFor="let collection of collections">
          <label for="{{ collection }}">{{ collection }}</label>
          <input type="radio" id="{{ collection }}" name="imageCollection" value="{{ collection }}" (mousedown)="imageIsForCollection(collection)">
        </div>
        <br>
                   
        <input type="file" (change)="onSingleImageSelected($event)">
        <button type="button" (click)="onUploadSingleImage()">Upload</button>
      </div>
      <br>

      <hr>

      <div class="addMultipleImages">
        <h3>Add gallery images</h3>
        <input type="file" multiple (change)="onMultipleImagesSelected($event)">
        <button type="button" (click)="onUploadMultipleImages">Upload</button>
      </div>

    </div>

    <div class="editProductWrapper" *ngIf="editProductBtnClicked">
      <div class="productListing">
          <div class="productCard" *ngFor="let product of products" (click)="sendProductToForm(product)">
            <img class="thumb" [src]="product.img" />
            <p>{{ product.productName }}</p>
          </div>
      </div>


      <div class="editProductForm">
        <form
          #editProductForm="ngForm"
          (ngSubmit)="saveProductChanges(editProductForm.value)"
        >

          <fieldset>
            <legend>Delete product</legend>
            <button type="button" (mousedown)="onDeleteProduct(selectedProductObj.id)">Delete</button>
          </fieldset>

          <fieldset>
            <legend>Main info:</legend>

            <p>Product name:</p>
            <input
              type="text"
              [ngModel]="selectedProductObj.productName"
              name="productName"
              placeholder="product name"
              autofocus
            />

            <p>Collection:</p>
            <button type="button" (click)="collectionSwitch()">
              existing/new
            </button>
            <input
              *ngIf="collectionSwitched"
              type="text"
              [ngModel]="selectedProductObj.collection"
              name="collection"
              #collectionText
            />
            <select
              *ngIf="!collectionSwitched"
              [ngModel]="selectedProductObj.collection"
              name="collection"
              #collectionSelect
            >
              <option
                *ngFor="let collection of collections"
                value="{{ collection }}"
                >{{ collection }}</option
              >
            </select>

            <p>Price:</p>
            <input
              type="number"
              [ngModel]="selectedProductObj.price"
              name="price"
              placeholder="price"
            />

            <p>Stone:</p>
            <button type="button" (click)="stoneSwitch()">existing/new</button>
            <input
              *ngIf="stoneSwitched"
              type="text"
              [ngModel]="selectedProductObj.stone"
              name="stone"
              #stoneText
            />
            <select 
              *ngIf="!stoneSwitched" 
              [ngModel]="selectedProductObj.stone"
              name="stone" 
              #stoneSelect >
              <option 
              *ngFor="let stone of stones" 
              value="{{ stone }}">
              {{ stone }}
            </option>
              </select><br />

            <p>Carat:</p>
            <input
              type="number"
              [ngModel]="selectedProductObj.carat"
              name="carat"
              placeholder="carat"
            />

            <p>Cut:</p>
            <button type="button" (click)="cutSwitch()">existing/new</button>
            <input
              *ngIf="cutSwitched"
              type="text"
              [ngModel]="selectedProductObj.cut"
              name="cut"
              #cutText
            />
            <select 
              *ngIf="!cutSwitched" 
              [ngModel]="selectedProductObj.cut" 
              name="cut" 
              #cutSelect >
              <option *ngFor="let cut of cuts" value="{{ cut }}">{{ cut }}</option>
            </select>

            <p>Material:</p>
            <button type="button" (click)="materialSwitch()">
              existing/new
            </button>
            <input
              *ngIf="materialSwitched"
              type="text"
              [ngModel]="selectedProductObj.material"
              name="material"
              #materialText
            />
            <select
              *ngIf="!materialSwitched"
              [ngModel]="selectedProductObj.material"
              name="material"
              #materialSelect
            >
              <option
                *ngFor="let material of materials"
                value="{{ material }}"
                >{{ material }}
                </option>
            </select>
          </fieldset>
          <br />

          <fieldset>
            <legend>Additional info:</legend>

            <p>Sale (1 means 100%, 0.4 means at 40% ...):</p>
            <input 
              type="number" 
              [ngModel]="selectedProductObj.sale" 
              name="sale" 
            >
                     
            <!-- excluded the "name" property below to make this drop-down read-only -->
            <!-- if you use ngModel, and you exclude the "name" property, -->
            <!-- you must use: [ngModelOptions]="{standalone: true}"  -->
            <p>Current sizes:</p>
            <select 
            [ngModel]="selectedProductObj.sizes" 
            [ngModelOptions]="{standalone: true}" 
            multiple="true"
            >
              <option *ngFor="let currSize of selectedProductObj.sizes" value="{{ currSize }}">{{
                currSize
              }}
            </option>
            </select>

            <p>All Available sizes:</p>
            <select 
            [ngModel]="sizes" 
            multiple="true"
            name="sizes"
            >
              <option *ngFor="let size of sizes" value="{{ size }}">{{
                size
              }}
            </option>
            </select>


            <p>Description:</p>
            <textarea
            [ngModel]="selectedProductObj.description"
              name="description"
              rows="8"
              cols="30"
              style="resize:none;"
            ></textarea>
          </fieldset>
          <br />

          <fieldset>
            <legend>Images:</legend>

            <p>Main image:</p>
            <input 
              class="chooseFile"
              type="file" 
              ngModel
              name="img" 
              accept="image/*" 
            >

            <p>Gallery images:</p>
            <input
              class="chooseFile"
              type="file"
              ngModel
              name="gallImages"
              accept="image/*"
              multiple="true"
            />
          </fieldset>
          <br />

          <input
            type="submit"
            value="Save Product Changes"
          />
        </form>
      </div>
    </div>

    <div *ngIf="manageOrdersBtnClicked">Manage Orders ...</div>

    <div *ngIf="manageUsersBtnClicked">Manage Users ...</div>
  </div>
  
</div>
