<div class="wrapper">
    <h3 *ngIf="orders.length > 0">Your previous orders:</h3>
    <h3 *ngIf="orders.length === 0">You have no previous orders.</h3>

    <div class="orders" *ngIf="orders.length > 0">
        <div class="order-card" *ngFor="let order of orders">

            <div class="order-info">
                <div>Order created: {{ order.orderCreated | date:'medium' }}</div>
                <div>Shipping method: {{ order.shippingName }}</div>
            </div>

            <div class="order-items" *ngFor="let item of order.suborder">
                <div><a [routerLink]="['/products', (item.product_id-1)]"><img class="thumb" [src]="item.img"></a></div>
                <div>{{ item.productName }}</div>
                <div>pieces: {{ item.amount }}</div>
                <div>size: {{ item.size }}</div>
                <div>price: {{ item.price | currency }}</div>
            </div>

            <div class="order-summary">
                <div>Payment method: {{ order.paymentName }}</div>
                <div>Order total: {{ order.total | currency }}</div>
            </div>
            
        </div>
    </div>
</div>
