.cartWrapper{
  padding:10px;
  display:flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items:flex-start;
  margin:0;
  padding:0;
  min-height:80vh;
  background-color:white;
}

.items{
  margin:10px;
  margin-bottom:50px;
  width:100%;
}

.cartProduct{
  width: 400px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding:5px;
  margin:0px;
  border:1px solid #e4e7ed;
  border-radius: 3px;
}
.cartProduct img{
  width:50px;
  height:50px;
}
.cartProduct img:hover{
  cursor:pointer;
}

.prodName{
  text-align:left;
  width:100px;
}
.prodAmount{
  text-align:center;
  width:50px;
}
.prodPrice{
  text-align:right;
  width:100px;
}
.arrow{
  width:50px;
}




.shippings{
  margin:10px;
  width:100%;
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  margin-bottom:50px;
}

.shippingOptions{
  width:200px;
  border:2px solid white;
  border-radius: 3px;
  padding:10px;
  margin:10px;
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.45);
  

}
.shippingOptions:hover{
  cursor:pointer;
  border:2px solid yellow;
}
.shippingOptions:active{
  cursor:pointer;
  border:2px solid yellow;
  background-color:yellow;
}

.shippingOptions img{
  width:50%;
}

.continue{
  display:flex;
  justify-content:center;
}
