<div class="cartWrapper">

  <p>Total items in cart: {{ this.cartService.totalItems }}</p>


  <div class="cartProduct" *ngFor="let product of this.cartService.cartProducts">

    <div class="prodName">{{ product.productName }}</div>
    <div class="arrow"><img src="./../../../assets/icons/Shoppingcart-03-arrow-down-icon.png" (click)="deduct(product.productName)"></div>
    <div class="prodAmount">{{ product.amount }} pcs </div>
    <div class="arrow"><img src="./../../../assets/icons/Shoppingcart-04-arrow-up-icon.png" (click)="add(product.productName)"></div>
    <div class="prodPrice">{{ product.totalPrice | currency }}</div>

  </div>


  <p *ngIf="this.cartService.totalItems > 0">Items price ( without shipping ): {{ this.cartService.totalPrice | currency }}</p>
  <p *ngIf="this.cartService.totalItems > 0">Selected shipping option: {{ this.cartService.selectedShippingOption.name }}</p>




  <div class="shippings" *ngIf="this.cartService.totalItems > 0">

    <div class="shippingOptions" *ngFor="let option of this.cartService.shippingOptions">
      <img src="{{ option.imgSrc }}" (click)="this.cartService.selectedShippingOption = option">
      <p>{{ option.name }}</p>
      <p>{{ option.cost | currency }}</p>
      <p>Delivery time is between {{ option.minDays }} and {{ option.maxDays }} days.</p>
    </div>

  </div>



  <p *ngIf="this.cartService.totalItems > 0">Items total price ( with shipping ):
    {{ this.cartService.totalPrice + this.cartService.selectedShippingOption.cost | currency }}</p>


  <table>
    <tr>
      <td><button *ngIf="this.cartService.totalItems > 0" class="MYbutton" (click)="clearCart()">Clear Cart</button>
      </td>
      <td><button *ngIf="this.cartService.totalItems > 0" class="MYbutton" (click)="collectAddress()">Enter Shipping Information</button></td>
    </tr>
  </table>


</div>