<div class="cartWrapper">

  <p>Total items in cart: {{ this.cartService.totalItems }}</p>


  <div class="cartProduct" *ngFor="let product of this.cartService.cartProducts">
    <table class="productTable">
      <tr>
        <td>{{ product.productName }} {{ product.amount }} pcs</td>
        <td>{{ product.totalPrice | currency }}</td>
        <td><i class="material-icons md-18 interactive" (click)="deduct(product.productName)">remove_circle</i></td>
        <td><i class="material-icons md-18 interactive" (click)="add(product.productName)">add_circle</i></td>
      </tr>
    </table>
  </div>


  <p *ngIf="this.cartService.totalItems > 0">Items price ( without shipping ): {{ this.cartService.totalPrice | currency }}</p>


  <p *ngIf="this.cartService.totalItems > 0">Selected shipping option: {{ this.cartService.selectedShippingOption.name }}</p>

  <div>

    <table *ngIf="this.cartService.totalItems > 0">
      <tr *ngFor="let option of this.cartService.shippingOptions">
        <td><i class="material-icons md-18 interactive" (click)="this.cartService.selectedShippingOption = option">face</i></td>
        <td>{{ option.name }}</td>
        <td>{{ option.cost | currency }}</td>
        <td>Delivery time is between {{ option.minDays }} and {{ option.maxDays }} days.</td>
      </tr>
    </table>

  </div>



  <p *ngIf="this.cartService.totalItems > 0">Items total price ( with shipping ):
    {{ this.cartService.totalPrice + this.cartService.selectedShippingOption.cost | currency }}</p>


  <table>
    <tr>
      <td><button *ngIf="this.cartService.totalItems > 0" class="MYbutton" (click)="clearCart()">Clear Cart</button>
      </td>
      <td><button *ngIf="this.cartService.totalItems > 0" class="MYbutton" (click)="collectAddress()">Enter Shipping Information</button></td>
    </tr>
  </table>


</div>