.user-greet{
  margin-top:4vh;
  margin-left:0.6vw;
}



.signUp{
  color:blue;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  outline: none;
}
.signUp:active{
  background-color: #e4e7ed;
}